alembic==1.9.2
anyio==3.6.2
attrs==22.2.0
bcrypt==4.0.1
certifi==2022.12.7
cffi==1.15.1
click==8.1.3
cryptography==39.0.0
dnspython==2.3.0
ecdsa==0.18.0
email-validator==1.3.1
exceptiongroup==1.1.0
fastapi==0.89.1
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
orjson==3.8.5
packaging==23.0
passlib==1.7.4
pluggy==1.0.0
psycopg-binary==3.1.8
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.4
pytest==7.2.1
python-dotenv==0.21.1
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==6.0
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.0
starlette==0.22.0
tomli==2.0.1
typing_extensions==4.4.0
ujson==5.7.0
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
aenum==3.1.11
agate==1.6.3
aiobotocore==2.4.0
aiohttp==3.8.1
aioitertools==0.11.0
aiosignal==1.2.0
alembic==1.7.6
antiorm==1.2.1
anyio==3.6.2
anytree==2.8.0
apache-airflow==2.4.2
apache-airflow-providers-amazon==6.2.0
apache-airflow-providers-common-sql==1.3.1
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-postgres==5.3.1
apache-airflow-providers-sqlite==3.2.1
apache-airflow-providers-ssh==3.3.0
apispec==3.3.2
apparmor==3.1.2
appdirs==1.4.4
application-utility==1.3.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
astroid==2.12.13
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
autocommand==2.2.2
awscli==1.25.97
awswrangler==2.19.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
boto3==1.25.4
botocore==1.28.4
Brotli==1.0.9
btrfsutil==6.0.2
cachelib==0.9.0
cachetools==5.2.1
cattrs==22.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
clickclick==20.10.2
cloudpickle==2.2.0
colorama==0.4.5
colorlog==4.8.0
comm==0.1.2
commonmark==0.9.1
ConfigUpdater==3.1.1
confluent-kafka==1.9.2
connexion==2.14.1
contourpy==1.0.5
cron-descriptor==1.2.31
croniter==1.3.7
cryptography==38.0.4
cssselect==1.2.0
cycler==0.11.0
Cython==0.29.32
databricks-cli==0.17.3
db==0.1.1
db-sqlite3==0.0.1
dbt-core==1.3.1
dbt-extractor==0.4.1
dbt-postgres==1.3.1
debugpy==1.6.4
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
dnspython==2.2.1
docker==6.0.1
docopt==0.6.2
docutils==0.19
doge==3.6.0
duckdb==0.6.1
ecdsa==0.18.0
email-validator==1.3.0
entrypoints==0.4
espeakng==1.0.2
et-xmlfile==1.1.0
exceptiongroup==1.0.1
executing==1.2.0
extras==1.0.0
fastapi==0.89.1
fastjsonschema==2.16.2
findspark==2.0.1
fixtures==4.0.1
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-BabelEx==0.9.4
Flask-Caching==2.0.1
Flask-Compress==1.13
Flask-Gravatar==0.5.0
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==4.1.5
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fonttools==4.38.0
frozenlist==1.3.1
fsspec==2022.10.0
future==0.18.2
gitdb==4.0.10
github-clone==1.2.0
GitPython==3.1.29
gkeep==1.0.1
gkeepapi==0.14.2
google-api-core==2.11.0
google-api-python-client==2.73.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
gpsoauth==1.0.2
graphviz==0.20.1
greenlet==2.0.1
gremlinpython==3.6.1
gssapi==1.8.2
gTTS==2.3.1
gufw==22.4.0
gunicorn==20.1.0
h11==0.12.0
hologram==0.0.15
html2text==2020.1.16
httpcore==0.15.0
httpie==3.2.1
httplib2==0.21.0
httptools==0.5.0
httpx==0.23.0
idna==3.4
imageio==2.24.0
imageio-ffmpeg==0.4.8
importlib-metadata==5.0.0
inflect==6.0.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonpath-ng==1.5.3
jsonschema==3.2.0
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyter_packaging==0.12.3
jupyter_server==2.0.5
jupyterlab==3.5.2
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.6
kafka-python==2.0.2
kaggle==1.5.12
kazoo==2.5.0
keyutils==0.6
kiwisolver==1.4.4
lazy-object-proxy==1.8.0
ldap3==2.9
leather==0.3.4
LibAppArmor==3.1.2
libfdt==1.6.1
lightdm-gtk-greeter-settings==1.2.2
linkify-it-py==2.0.0
lit==14.0.6.dev0
llvmlite==0.39.1
lockfile==0.12.2
Logbook==1.5.3
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.0.4
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.1
mdurl==0.1.2
menulibre==2.2.3
minimal-snowplow-tracker==0.0.2
mistune==2.0.4
mlflow==2.0.1
more-itertools==9.0.0
moviepy==1.0.3
msgpack==1.0.4
mugshot==0.4.3
multidict==6.0.2
mutagen==1.46.0
mypy-boto3-appflow==1.26.15
mypy-boto3-rds==1.26.24
mypy-boto3-redshift-data==1.26.0.post1
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
networkx==2.8.8
nftables==0.1
nltk==3.8.1
nose2==0.12.0
notebook==6.5.2
notebook_shim==0.2.2
npyscreen==4.10.5
nsepy==0.8
numba==0.56.4
numpy==1.23.4
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.26.1
openpyxl==3.0.10
opensearch-py==2.0.1
ordered-set==4.1.0
orjson==3.8.5
packaging==21.3
pacman-mirrors==4.23.2
paho-mqtt==1.6.1
pandas==1.5.1
pandoc-attributes==0.1.7
pandocfilters==1.5.0
paramiko==2.11.1
parsedatetime==2.4
parso==0.8.3
passlib==1.7.4
pathspec==0.9.0
pbr==5.11.0
pendulum==2.1.2
pexpect==4.8.0
pg8000==1.29.4
pickleshare==0.7.5
pillar-youtube-upload==0.3.0
Pillow==9.3.0
platformdirs==2.6.0
plotly==5.11.0
pluggy==1.0.0
ply==3.11
prison==0.2.1
proglog==0.1.10
progressbar2==4.2.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==4.21.10
psutil==5.9.4
psycopg2==2.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
public-ip==0.12
pure-eval==0.2.2
py-espeak-ng==0.1.8
py4j==0.10.9.5
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.21
pycryptodomex==3.16.0
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.2
PyJWT==2.6.0
pykafka==2.8.0
pylint==2.15.8
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==3.0.9
pyrsistent==0.19.2
pyser==0.1.5
PySide6==6.4.1
PySocks==1.7.1
pyspark==3.3.1
pysqlite3==0.4.7
pytest==7.2.0
python-daemon==2.3.2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-editor==1.0.4
python-jose==3.3.0
python-json-logger==2.0.4
python-multipart==0.0.5
python-nvd3==0.15.0
python-slugify==6.1.2
python-utils==3.4.5
python3-openid==3.2.0
pytimeparse==1.1.8
pyttsx3==2.90
pytube==12.1.0
pytz==2022.6
pytzdata==2020.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
querystring-parser==1.2.4
redshift-connector==2.0.909
regex==2022.10.31
requests==2.28.1
requests-aws4auth==1.1.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.3.0
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
s3fs==2022.10.0
s3transfer==0.6.0
scikit-learn==1.1.3
scipy==1.9.3
scramp==1.4.3
seaborn==0.12.1
Send2Trash==1.8.0
setproctitle==1.3.2
shap==0.41.0
shiboken2==5.15.8
shiboken6==6.4.1
shtab==1.5.8
simple-youtube-api==0.2.8
simplejson==3.18.0
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
social-auth-core==4.3.0
soupsieve==2.3.2.post1
sparksql-magic==0.0.3
speaklater==1.3
SQLAlchemy==1.4.42
SQLAlchemy-JSONField==1.0.0
sqlalchemy-redshift==0.8.11
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.3
sshtunnel==0.4.0
stack-data==0.6.2
starlette==0.22.0
swagger-ui-bundle==0.0.9
systemd-python==235
tabulate==0.9.0
team==1.0
tenacity==8.1.0
termcolor==2.1.0
terminado==0.17.1
testpath==0.6.0
testtools==2.5.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.2.1
tldr==3.1.0
tokenizer==3.4.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
trove-classifiers==2022.12.22
tweepy==4.12.0
typing_extensions==4.4.0
uc-micro-py==1.0.1
udiskie==2.4.2
ufw==0.36.1
ujson==5.7.0
unicodecsv==0.14.1
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.20.0
uvloop==0.17.0
validate-pyproject==0.10.1
visidata==2.10.2
watchfiles==0.18.1
watchtower==2.0.1
wbgapi==1.0.12
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.2
woob==3.0
wrapt==1.14.1
WTForms==3.0.1
yapf==0.32.0
yarl==1.8.1
youtube-dl==2021.12.17
zipp==3.11.0
